{% extends "base.html" %}
{% block content %}

<hgroup id="pet-name">
    <h1>Pet: {{pet.name}}</h1>
</hgroup>


<table class="selected-pet">
   
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>D.O.B</th>
        <th>Vet</th>
    </tr>

    <tr>
        <td>{{pet.name}}</td>
        <td>{{pet.species}}</td>
        <td>{{pet.dob}}</td>
        <td>
        {{pet.vet.first_name}} {{pet.vet.last_name}}</td>
    </tr>
    
</table>

<table class="selected-pet">
    <tr>
        <th>
            <em>
            Treatment Notes
            </em>


        </th>
    </tr>

    {% for note in notes%}
    <tr>
        

        <td> {{note.note}}</td>
            
            
    </tr>
    {% endfor %}

</table>

<section class="buttons">

<a href="/pets/{{ pet.id }}/edit">
    <button type="submit">Edit Pet</button></a>

    <form action="/pets/{{ pet.id }}/delete" method="POST">
        <input type="submit" value="Delete Pet">
    </form>

    <a href="/pets/{{pet.id}}/notes/add_note"><button type="submit"</button>Add Treatment Note</a>

</section>

    
    
<hgroup id="pet-name"> 

<h1>Owner: {{pet.owner.first_name}} {{pet.owner.last_name}}</h1>
</hgroup> 


<table class="selected-pet">
    
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Adress</th>
        <th>Postcode</th>
    </tr>

    <tr>
        <td>{{pet.owner.first_name}}</td>
        <td>{{pet.owner.last_name}}</td>
        <td>{{pet.owner.email}}</td>
        <td>{{pet.owner.phone_number}}</td>
        <td>{{pet.owner.adress}}</td>
        <td>{{pet.owner.postcode}}</td>
        
    </tr>
   


</table>



<section class="buttons">
<a href="/owners/{{ pet.owner.id }}/edit/pet/{{pet.id}}"> <button type="submit">Edit Owner</button></a>

<form action="/owners/{{ pet.owner.id }}/delete" method="POST">
    <input type="submit" value="Delete Owner">
</form>
</section>

<hgroup id="pet-name">
    <h1>All Pets Registered to Owner</h1>
</hgroup>

<div id="pet-link">

{% for animal in pets %}

<a href="/pets/{{ animal.id }}">{{ animal.name }} </a>

{% endfor %}

</div>

{% endblock %}




