{% extends "base.html" %}
{% block content %}






<table>
    <tr>
      <th>Pet</th>
      <th>Species</th>
      <th>D.O.B</th>
      <th>Owner</th>
      <th>Vet</th>
    </tr>

    {% for pet in all_pets%}

    <tr>
      <td>{{pet.name}}</td>
      <td>{{pet.species}}</td>
      <td>{{pet.dob}}</td>
      <td> {{pet.owner.first_name}} {{pet.owner.last_name}}</td>
      <td>
          {{pet.vet.first_name}} {{pet.vet.last_name}}
      </td>
      <td>  
        <a href="/pets/{{ pet.id }}">HELLO I AM THE PET  </a>
    </td>
    </tr>

   


  </table>




       
    
       
  







{% endfor %} 



{% endblock %}


