{% extends "base.html" %}
{% block content %}

<h1>VIEW SELECTED PET</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>D.O.B</th>
        <th>Vet</th>
    </tr>

    <tr>
        <td>{{pet.name}}</td>
        <td>{{pet.species}}</td>
        <td>{{pet.dob}}</td>
        <td>
        {{pet.vet.first_name}} {{pet.vet.last_name}}</td>
    </tr>
</table>


<a href="/pets/{{ pet.id }}/edit">
    <button type="submit">Edit</button></a>

    

    

    <form action="/pets/{{ pet.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>

    
    
    


<hr>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Adress</th>
        <th>Postcode</th>
    </tr>

    <tr>
        <td>{{pet.owner.first_name}}</td>
        <td>{{pet.owner.last_name}}</td>
        <td>{{pet.owner.email}}</td>
        <td>{{pet.owner.phone_number}}</td>
        <td>{{pet.owner.adress}}</td>
        <td>{{pet.owner.postcode}}</td>
    </tr>
   


</table>


<a href="/owners/{{ pet.owner.id }}/edit/pet/{{pet.id}}"> <button type="submit">Edit</button></a>

<form action="/owners/{{ pet.owner.id }}/delete" method="POST">
    <input type="submit" value="Delete">
</form>




View treatment notes




{% endblock %}




