{% extends "base.html" %}
{% block content %}

Patien Records:

Here I want an overview of all patients currently registered to the practice

more of a snapshot overview that you can then click into to get all the information aswell as update and delete.

the overview needs to include pet name species dob owner vet

Marvin / Dog / 01-02-2017 / Alex Anderson / Peter Peterson

{% for pet in all_pets%}

<ul>
    <li>
        {{pet.name}}
    </li>
    <li>
        {{pet.species}}
    </li>
    <li>
        {{pet.owner.first_name}}
        {{pet.owner.last_name}}
    </li>



</ul>







{% endfor %} 



{% endblock %}


