{% extends "base.html" %}
{% block content %}

overview of pet:

name, species, dob, Vet

section for owner details 


then treatment notes by


this page will show all the pets details that you selected including treatment notes

From here you can also update and delete a record.

<table>
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>D.O.B</th>
        <th>Vet</th>
    </tr>



<tr>
    <td>{{pet.name}}</td>
    <td>{{pet.species}}</td>
    <td>{{pet.dob}}</td>
    <td> {{pet.owner.first_name}} {{pet.owner.last_name}}</td>
    <td>
        {{pet.vet.first_name}} {{pet.vet.last_name}}
    </td>
</tr>




</table>


{{pet.treatment_notes}}







{% endblock %}