body {
    background: url('/static/images/blackdog.jpg'); 
    background-color: black;
    /* height: 800px;  */
    background-size:  contain;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.login-container {
    display: flex;
    justify-content: flex-end; 
    padding-right: 28%;
    padding-top: 14%;        
}

#box {
    width:300px;
    height:300px;
    background-color: #989788;
    border-radius: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: large;
}



input[type=text] {
    margin:20px 20px 0px 20px;
    padding:10px;

    width: 200px;
    cursor: text;
    background-color: #E0E1DD;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    /* font-size: large; */
    border-color: transparent; 
    
}
button[type=submit] {
   
    margin:35px 20px 0px 20px;
    padding:10px;
    border-color: #7a796e;
    border-radius: 10px;
    width: 30%;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    background-color: #989788;

}

