{% extends "base.html" %}
{% block content %}

<h1>VIEW SELECTED VET</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Speciality</th>
    </tr>

    <tr>
        <td>{{vet.first_name}}</td>
        <td>{{vet.last_name}}</td>
        <td>{{vet.speciality}}</td>
    </tr>
</table>

<a href="/vets/{{ vet.id }}/edit">
    <button type="submit">Edit</button></a>


    <form action="/vets/{{ vet.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>

<h3>Pets assigned to {{vet.first_name}} {{vet.last_name}}</h3>

    {% for pet in pets %}

    <a href="/pets/{{ pet.id }}">{{ pet.name }} </a>


    {% endfor %}


{% endblock %}



