{% extends "base.html" %}
{% block content %}

<div class="register-form">
   
<form action="/owners/{{ owner.id }}/edit" method="post">
    <h1>Update Owner</h1>
  <div>
    
    <label for="first_name"></label>
    <input type="text" id="first_name" name="first_name" value="{{owner.first_name}}" required autofocus>
  </div>

  <div>
    <label for="last_name"></label>
    <input type="text" id="last_name" name="last_name" value="{{owner.last_name}}" required>
  </div>

  <div>
    <label for="email"></label>
    <input type="text" id="email" name="email" value="{{owner.email}}" required>
  </div>

  <div>
    <label for="phone_number"></label>
    <input type="text" id="phone_number" name="phone_number" value="{{owner.phone_number}}" required>
  </div>

  <div>
    <label for="adress"></label>
    <input type="text" id="adress" name="adress" value="{{owner.adress}}" required>
  </div>

  <div>
    <label for="postcode"></label>
    <input type="text" id="postcode" name="postcode" value="{{owner.postcode}}" required>
  </div>
    <input type="hidden" value={{pet_id}} name="pet-id">

    <br> 

    <input class="register-button" type="submit" value="Update">

    </form>
</div>

{% endblock %}
