<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}} Pet Buddy</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <ul>
                    

                    <li> <a href="/home">Home</a></li>
                    <li> <a href="/register">Register</a></li>

                    

                    <li> <a href="/pets/view_all">Pet Records</a></li>
                    <li> <a href="/vets">Veterinarians</a></li>

                </ul>
            </div>
        </nav>

       






    </header>
    {% block content %}

    <div class="home-container">
        <div id="reg">
            <a href="/register"><h1>Register</h1></a>
            
            
                <p>Register a new owner</p>
                <p>Register a new pet to an existing owner</p>
            
            
        </div>
        <div id="pet">
            <a href="/pets/view_all"><h1>Pet Records</h1></a>
            
            
                <p>View all pets</p>
                <p>Select a pet and view all its details</p>
                <p>View each pets treatment notes</p>
            
        </div>
        <div id="vet">
            <a href="/vets"><h1>Veterinarians</h1></a>
            
            
                <p>Register a new veterinarian</p>
                <p>View all veterinarians</p>
                <p>View all pets assigned to each veterinarian</p>
            

            
        </div>
        <div id="app">
            <a href="/home"><h1>Appointment</h1></a>
            
            <p>
                <p>Book an appointment</p>
                <p>View todays appointments</p>
            </p>



        </div>
    
        
    
    
    </div>

    
    
    {% endblock %}  
</body>
</html>