<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} Pet Buddy</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>

<section class="login-container">
  <div id="box">
    <h1>Welcome to Pet Buddy</h1>
    <input type="text" name="username" id="username" class="login-form" placeholder="Username">
    <br>
    <input type="text" name="password" id="password" class="login-form" placeholder="Password">
    <br>
    <a href="/home">
      <button type="submit">Log in</button>
    </a>
  </div>
</section>
</body>
</html>






