<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} Pet Buddy</title>
</head>
<body>

  <form action="/home" method="post">
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <input type=  "submit" value="Login" id="login-form-submit">
  </form>
  
</body>
</html>






<!-- {% for owner in owners%}


{{owner.first_name}} 
{{owner.last_name}} 
{{owner.email}} 
{{owner.phone_number}} 
{{owner.adress}} 
{{owner.postcode}} 
{{owner.registered}} 



{% endfor %} -->