<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} Pet Buddy</title>
</head>
<body>

  
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="text" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <a href="/home">
      <button>Log in</button>
    </a>
    
 
  
</body>
</html>


<!-- <input type=  "submit" value="Login" id="login-form-submit"> -->



